<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Enquiry System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/submit-enquiry" routerLinkActive="active">Submit Enquiry</a>
                </li>
                @if (isLoggedIn) {
                     <li class="nav-item">
                    <a class="nav-link" routerLink="/enquiry-list" routerLinkActive="active">Enquiry List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                }
               
            </ul>
            
            <!-- Not logged in state -->
            <div class="d-flex" *ngIf="!isLoggedIn">
                <button class="btn btn-outline-light" routerLink="/login">Login</button>
            </div>
            
            <!-- Logged in state -->
            <div class="d-flex align-items-center" *ngIf="isLoggedIn">
                <span class="text-light me-3">Welcome, {{username}}</span>
                <button class="btn btn-outline-light" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet />
</div>
